<!DOCTYPE html>
<html ng-app="storeApp">
<head>
  <title>Humblerails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
		<meta charset="utf-8">
		<!-- <meta name="description" content="MicroStore Responsive HTML5/CSS3 Template from angelostudio.net"> -->
		<!-- <meta name="author" content="ANGELOSTUDIO.NET"> -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
	<body id="home">

<%= yield %>

		
</body>
</html>
